.contacts-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.follow_button_contact {
  background-color: transparent !important;
  color: gray !important;
  border: 2px solid gray !important;
  border-radius: 50px !important;
  width: 100px !important;
  height: 30px;
  padding: 0 !important;
}
.follow_button_contact:hover {
  background-color: rgba(89, 89, 98, 0.274) !important;
  border-color: rgb(65, 63, 63) !important;
  color: gray !important;
}
