.avatar_background {
  padding-right: 0px !important;
  padding-left: 15px !important;
  background-color: white;
}
.avatar_background {
  background-color: white;
  padding-bottom: 15px;
}
.follow_button {
  background-color: transparent !important;
  color: gray !important;
  border: 2px solid gray !important;
  border-radius: 50px !important;
  width: 100px !important;
  height: 30px;
  padding: 0 !important;
}
.follow_button:hover {
  background-color: rgba(89, 89, 98, 0.274) !important;
  border-color: rgb(65, 63, 63) !important;
  color: gray !important;
}
.follow_button::before {
  content: " + ";
  color: rgb(29, 28, 28);
}
.avatar_image {
  background-color: white;
  margin-left: 0px;
  display: flex;
}
.avatar_follower {
  background-color: white;
}
.MuiAvatar-root {
  width: 46px;
  height: 46px;
}
.avatar_name {
  background-color: white;
  color: rgb(8, 7, 7);
}
.full_description {
  padding-left: 0px !important;
  background-color: white;
  padding: 0;
  align-items: center;
  color: #0a66c2;
}
.full_description > p {
  background-color: white;
  color: gray;
  font-size: 11px;
  margin: 0;
}
